#menu {
  height: 100px;
  margin-bottom: 15px;
}

#playlist {
  height: 300px;
}

/* Altezza CALL-TO-ACTION */
#call-to-action {
  height: 80px;
}

/* Altezza PREFERENCES */
#preferences {
  height: 100%;
}

/* Altezza PLAY BAR */
#play-bar {
  height: 10vh;
}

.debug {
  border: 1px solid white;
}

/* Container album */
#container-section-album h3 {
  color: white;
  margin-bottom: 20px;
}

#container-album {
  justify-content: flex-start;
  flex-wrap: wrap;
  color: white;
}

.album {
  width: 200px;
  height: 200px;
  margin: 0 20px 10px 0;
  flex-shrink: 0;
}

.album img {
  width: 100%;
}

#container-section-album {
  flex-direction: column;
}