#menu {
  height: 100px;
  margin-bottom: 15px;
}

#playlist {
  height: 300px;
}

/* Altezza CALL-TO-ACTION */
#call-to-action {
  height: 80px;
}

/* Altezza PREFERENCES */
#preferences {
  height: 100%;
}

/* Altezza PLAY BAR */
#play-bar {
  height: 10vh;
}