#menu {
  height: 100px;
  margin-bottom: 15px;
}

#playlist {
  height: 300px;
}

/* Altezza CALL-TO-ACTION */
#call-to-action {
  height: 80px;
}

/* Altezza PREFERENCES */
#preferences {
  height: 100%;
}

/* Altezza PLAY BAR */
#play-bar {
  height: 10vh;
}

.debug {
  border: 1px solid white;
}

/* Container album */
#container-section-album {
  margin-bottom: 50px;
}

#container-section-album h3 {
  color: white;
  font-weight: bol;
  margin: 0 40px 50px 40px;
}

#container-album {
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
  color: white;
}

.album {
  width: calc(100% / 6);
  margin: 0 10px 100px 10px;
  flex-shrink: 0;
  text-align: center;
}

.album img {
  width: 100%;
}

.album div {
  display: inline-block;
  margin-top: 10px;
}

#container-section-album {
  flex-direction: column;
}