#menu {
  height: 100px;
  margin-bottom: 15px;
}

#playlist {
  height: 300px;
}

/* Altezza CALL-TO-ACTION */
#call-to-action {
  height: 80px;
}

/* Altezza PREFERENCES */
#preferences {
  height: 100%;
}

/* Altezza PLAY BAR */
#play-bar {
  height: 10vh;
}

.debug {
  border: 1px solid white;
}

/* Container album */
#container-section-album {
  margin-bottom: 50px;
}

#container-section-album h3 {
  color: white;
  font-weight: bold;
  margin: 0 0px 50px 0px;
}

#container-album {
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
  color: white;
}

.album {
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 0 30px 130px 0;
  flex-shrink: 0;
  text-align: center;
}

.album img {
  width: 100%;
}

.album div:nth-child(2) {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: calc(15px / 2);
}

.album div:nth-child(3) {
  font-size: 10px;
  color: #7d8186;
}

#container-section-album {
  flex-direction: column;
}

#container-section-album:nth-child(3) h3,
#container-section-album:nth-child(4) h3 {
  margin-bottom: 10px;
}

#container-section-album:nth-child(3) h4,
#container-section-album:nth-child(4) h4 {
  margin-bottom: 30px;
  color: #7d8186;
}

.b-radious {
  display: inline-block;
  border-radius: 100px;
}