@media screen and (max-width: 419px) {
  /* ASIDE */
  aside {
    width: 50px;
    padding: 0 2px;
  }

  #logo-1 {
    display: none;
  }

  #logo-2 {
    display: inline-block;
    text-align: center;
  }

  #logo,
  #menu,
  #playlist,
  #install-container {
    text-align: center;
    padding: 0;
  }

  #menu ul li span:nth-child(2),
  #playlist ul li,
  #install-app span:nth-child(2),
  #j-doe span:nth-child(2) {
    display: none;
  }

  #install-app {
    border: none;
  }

  #j-doe {
    justify-content: center;
  }

  #j-doe span:first-child {
    width: 20px;
    height: 20px;
    margin: 0;
  }

  /* CALL */
  #call-to-action,
  nav,
  #preferences {
    width: calc(100vw - 50px);
  }

  nav {
    text-align: center;
  }

  nav ul li {
    justify-content: center;
    font-size: 10px;
    margin-bottom: 20px;
  }
}