/* LOGO */
#logo {
  background-color: black;
}

/* ASIDE */
aside {
  background-color: black;
}

#menu ul,
#playlist ul {
  color: #7d8186;
  background-color: black;
}

#menu ul li:first-child {
  color: white;
  font-size: 15px;
}

#playlist ul li:first-child {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
}

/* PLAYLIST */
#playlist ul li:nth-child(2) span:first-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  font-size: 40px;
}

#playlist ul li:nth-child(2) span:nth-child(2) {
  font-size: 16px;
  line-height: 30px;
}


/* OTHERS */
.container-nav-preferences {
  background-color: #10131A;
}

input,
nav ul li {
  text-transform: uppercase;
}

nav ul li a {
  color: #7d8186;
}


input {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 100px;
  font-size: 10px;
}