/* LOGO */
#logo {
  background-color: black;
}

/* ASIDE */
aside {
  background-color: black;
  font-size: 15px;
}

#menu ul,
#playlist ul {
  color: #7d8186;
  background-color: black;
}

/* MENU --> CHILDREN */
#menu ul li:first-child {
  color: white;
  font-size: 15px;
}

#menu ul li:first-child span:first-child,
#menu ul li:nth-child(2) span:first-child,
#menu ul li:nth-child(3) span:first-child {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}

#install-app span {
  display: inline-block;
  vertical-align: middle;
}


#playlist ul li:first-child {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
}

/* PLAYLIST */
#playlist ul li:nth-child(2) span:first-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  font-size: 40px;
}

#playlist ul li:nth-child(2) span:nth-child(2) {
  font-size: 16px;
  line-height: 30px;
}

/* INSTALLA APP */
#install-app {
  background-color: black;
  border-bottom: 1px solid #7d8186
}

#install-app {
  color: #7d8186;
  font-size: 12px;
}

/* PROFILE */
#j-doe {
  background-color: black;
}

#j-doe span:first-child {
  background-color: gray;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 5px;
}

#j-doe span:nth-child(2) {
  color: white;
}

/* OTHERS */
.container-nav-preferences {
  background-color: #10131A;
}

input,
nav ul li {
  text-transform: uppercase;
}

nav ul li a {
  color: #7d8186;
}

input {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 100px;
  font-size: 10px;
}

/* HOVER */
#menu ul li:hover,
#playlist ul li:hover,
#install-app span:hover,
nav ul li a:hover {
  color: white;
  cursor: pointer;
}