#logo {
  background-color: black;
}

.container-nav-preferences {
  background-color: #10131A;
}

#menu ul,
#playlist ul {
  color: white;
  background-color: black;
}

input,
nav ul li {
  text-transform: uppercase;
}

nav ul li a {
  color: #7d8186;
}


input {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 100px;
  font-size: 10px;
}