/* LOGO */
#logo {
  background-color: black;
}

/* ASIDE */
aside {
  background-color: black;
  font-size: 15px;
}

#menu ul,
#playlist ul {
  color: #7d8186;
  background-color: black;
}

/* MENU --> CHILDREN */
#menu ul li:first-child {
  color: white;
  font-size: 15px;
}

#menu ul li:first-child span:first-child,
#menu ul li:nth-child(2) span:first-child,
#menu ul li:nth-child(3) span:first-child {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}

#install-app span:first-child {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  color: #7d8186;
}


#playlist ul li:first-child {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
}

/* PREFERENCES */
#preferences {
  background-color: #10131A;
  height: 100vh;
}

/* PLAYLIST */
#playlist ul li:nth-child(2) span:first-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  font-size: 40px;
}

#playlist ul li:nth-child(2) span:nth-child(2) {
  font-size: 16px;
  line-height: 30px;
}

/* INSTALLA APP */
#install-app {
  background-color: black;
  border-bottom: 1px solid #7d8186
}

#install-app {
  color: #7d8186;
  font-size: 12px;
}

/* PROFILE */
#j-doe {
  background-color: black;
}

#j-doe span:first-child {
  background-color: gray;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 5px;
}

#j-doe span:nth-child(2) {
  color: white;
}

/* NAV, PREFERENCES */
.container-nav-preferences {
  background-color: #10131A;
}

input,
nav ul li {
  text-transform: uppercase;
}

nav ul li a {
  color: #7d8186;
}

input {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 100px;
  font-size: 10px;
}

/* HOVER */
#menu ul li:hover,
#playlist ul li:hover,
#install-app span:hover,
nav ul li a:hover {
  color: white;
  cursor: pointer;
}

/* PLAY BAR */
#play-bar {
  background-color: #2A2A2A;
}

/* Left */
#left {
  background-color: #2A2A2A;
}

#left #img-cont {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

#left img {
  width: 100%;
}

#brano-nome {
  flex-direction: column;
  margin-right: 30px;
  width: 63px;
}

#brano-nome span:first-child {
  font-weight: bold;
  font-size: 10px;
  color: white;
}

#brano-nome span:nth-child(2) {
  font-weight: bold;
  font-size: 10px;
  color: #7d8186;
}

#icons-container {
  flex-direction: column;
}

#icons-container div:first-child,
#icons-container div:nth-child(2) {
  color: #7d8186;
}

/* Central */
#top div {
  width: 10px;
  font-size: 12px;
  color: white;
}

#top div:nth-last-child(3) {
  font-size: 20px;
}

/* Right */
#right div:first-child,
#right div:nth-child(2),
#right div:nth-child(3) {
  width: 10px;
  font-size: 12px;
  color: white;
}


